<%= render 'shared/top_menu' %>

<div class="row main">
  <div class="span3 we_are_text">
    We are russians. <br>
    We are making <span class="black">sites</span> <br>
    <span class="black">& web systems.</span> <br>
    We are not gay <br>
  </div>
  <div class="span9">
    <%= image_tag 'we_are.jpg' %>
  </div>
</div>



