<%= render 'shared/top_menu' %>

<div class="row main">
  <div class="span3 we_are_text">
    <span class="black">We use tools & <br>
      technologies: </span>
      <br>
      <br>
    HTML5, CSS3, jQuery, AJAX <br>
    Ruby, Ruby on Rails, SQLite, <br>
    MySQL, PostgreSQL, nginx <br>
    Ps, Ai, Fw
  </div>
  <div class="span9">
    <%= image_tag 'icons.png' %>
  </div>
</div>



